fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
aiofiles
uvicorn
pymlask
jinja2==3.0.3
tweepy
japanize_matplotlib
unidic-lite
mecab-python3
ipadic
fugashi
numpy==1.26.4
python-dotenv
bs4